/* to use this stylesheet just type section then class name in the find to go to the section style part */
/* Example L 
1-< if using Vscode. atom, notepad  press Ctrl + F
2-> tben type "section = hero section begins"
      --This  will take you to the beginning of the hero section --
      NB -- 1. if the style name is 'hero__banner' or 'hero_banner' the the find query word will be 'hero__banner' or 'hero_banner' respectively.
            2. But if the style name is 'hero-banner'the the find query word will be 'hero' --*/

:root{
  --main-black:#000000;
  --main-grey:#cecece;
  --main-red:#ff0000;
  --main-orange:#fbb03b;
  --main-white:#ffffff;

  /* for font size  */

  --sm-font:10px;
  --md-font:20px;

  /* em size */
  --em-large:2em;
  --em-md:1.4em;
  --em-sm:1em;
}
@keyframes shimmer{
  from {
    background-position:100% 100%;
  }
  to {
    background-position:0 0;
  }
}
.menu-bar{
  display:none;
}
.shimmer{
  /* background:transparent !important; */
  background-image:linear-gradient(
    100deg,
    #eeeeee 0%, #eeeeee 40%,
    #00000030 50%, #00000030 55%,
    #eeeeee 65%, #eeeeee 100%

  );
  background-size:400%;
  animation: shimmer 1500ms infinite;

}
.emp-price{
  display:inline-block;
  height:40px;
  width:100px;
}
main{
  max-widtH:100vw;
  width:100vw;
  overflow-x:hidden;
}
html{
  overflow-x:hidden;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

section{
  width:100vw;
}
/* section = header section begins */
/* to style the landing header */
header{
  width:100vw;
  padding:0 10%;
  display:flex;
  height:70px;
  position:fixed;
  top:20px;
  color:var(--main-white);
  z-index:100;
  transition : all .4s;
}

header div, header nav{
  display:inline-block;
  height:100%;
  display:flex;
  align-items:center;
  
  
}
header > div{
  flex-basis:28%;
  
}header nav{
  flex-basis:34%;

}
header .header-access_icon{
  flex-basis:60%;
  justify-content:flex-end;
}

.header-cart_icon{
  position:relative;
}
.header-cart_icon_number{
  position:absolute;
  background:var(--main-black);
  color:var(--main-white);
  display:inline-grid;
  width:20px;
  height: 20px;
  bottom:15px;
  right:-10px;
  border-radius:100%;
  place-items:center;
}
header nav ul{
  height: 100%;
  display:inline-block;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
}
header nav li{
  display:inline-grid;
  height:100%;
  place-items:center;
  
}
.header-nav_link{
  text-decoration:none;
  color:var(--main-white);
  
}
/* section = hero section begins */
/* to style the landing hero */

.hero-banner{
  height:clamp(500px,70vw,650px);
  object-fit:cover;
  background-size: calc(110% + 10px) calc(145% );
  background-position-x: -100px;
  background-position-y: -253px;
  background-repeat: no-repeat;
  position:relative;

}
.header-footer{
  display:inline-block;
  position:absolute;
  background:var(--main-white);
  width:70%;
  left:0;
  bottom:0;
  height:20%;
  border-radius: 0 70px 0 0;

}

aside.cart-container{
  position:fixed;
  height:100vh;
  width:400px;
  max-width:100%;
  background:var(--main-grey);
  left:0;
  top:0;
  padding:10px 0px;
  /* display:none; */
  
}
.cart-header{
  width:100%;
  font-size:var(--em-large);
  display:inline-flex;
  height: 10%;
  /* justify-content:center; */
  align-items:center;
  padding:10px;






}
.cart-item-body::-webkit-scrollbar{
  background:rgba(145, 150, 145, 0.062);
  width:10px;
}
.cart-item-body{
  width:100%;
  height:80%;
  overflow-y: scroll;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-start;
  position:relative;
  gap:15px;

  
}

/* .cart-item-body::after{
  content:"";
  position:sticky;
  width:100%;
  height:80px;
  background:linear-gradient(#8f8d8a21,  #fbb13b44, #fbb13b5e, #fbb13b8c, #fbb03b);
  bottom:0;
} */

.cart-item-box{
  width:90%;
  height:100px;
  display:flex;
  background:var(--main-grey);
  align-items:center;
  padding:0 10px;
  justify-content:space-evenly;
  position:relative;
  border:solid 2px var(--main-black);
  color:var(--main-black);

}


.cart-productImage{
  width:30%;
  background:var(--main-black);
  height:80%;
}


.cart-item-description{
  width:65%;
  /* background:var(--main-black); */
  height:80%;
  justify-content:flex-start;
  flex-wrap:wrap;
}

.cart-product-name{
  width:100%;
  height:30%;
  font-size:var(--em-md);
  padding:0px 10px;

}
.cart-item-prices{
  width:100%;
  height:25%;
  font-size:var(--em-sm);
  padding:0px 10px;
}


.cart-item-total{
  color:var(--main-orange);
  padding:0 10px;
}
.cart-item-action-btns{
  width:100%;
  height:35%;
  font-size:var(--em-md);
  padding:0px 10px;
  text-align:left;
  gap:20px;
  display:flex;
  justify-content:flex-end;


}
.cart-item-action-btns a{
  text-decoration:none;
  color:var(--main-whitw);
  font-size:var(--md-font);
  background:var(--main-orange);
  padding:0px 5px;
}
.cart-item-action-btns button{
  color:var(--main-whitw);
  /* font-size:20px; */
  font-size:var(--md-font);
  background:var(--main-red);
  outline:none;
  border:none;
  /* height:100%; */
  padding:0px 5px;
  /* border-radius:20px; */
}

.cart-item-badge{
  position:absolute;
  padding:5px;
  font-size:0.8rem;
  color:var(--main-white);
  display:inline-block;
  background:var(--main-black);
  top:10px;
  right:10px;
  border-radius:50%;


}

.car-nav-checkout-cnt{
  height:10%;
  width:100%;
  display:grid;
  place-items:center;

}

.cart-nav-checkout{
  text-decoration:none;
  display:inline-block;
  /* width:70%; */
  padding:10px 20px;
  background:var(--main-black);
  color:var(--main-white);
}
/* section = Featured section begins */
/* to style the landing Featured */


.Featured{
  height:300px;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:30px 0px;

}

.featured_cnt{
  width:100%;
  max-width:800px;
  height: 100%;
  display:flex;
  justify-content:space-evenly;


}



.featured_box{
  display:inline-block;
  height: 100%;
  flex-basis: 25%;
  object-fit:cover;
  background-size:100% 100% !important;
  /* background-position-x: -100px; */
  /* background-position-y: -253px; */
  position:relative;
  background-repeat: no-repeat;

}

.big-featured_box{
  flex-basis:45%;

}

.featured_box-txt_cnt {
  position :absolute;
  bottom:0;
  left:0;
  width:50%;
  max-width:200px;
  min-width:150px;
  height:60%;
  /* background:var(--main-white); */
  display:flex;
  flex-direction:column;
  
}

.featured_box-txt{
  flex-basis: 35%;
  width:100%;
  color:var(--main-white);
  text-align: left;
  padding:0 20px;
}


.featured_box-actionbtn-cnt{
  flex-basis: 35%;
  width:100%;
  color:var(--main-white);
  text-align: left;
  display:grid;
  place-items:center;
  
}
.featured_box-actionbtn-cnt a{
  background: var(--main-white);
  display: inline-block;
  padding:7px 20px;
  text-decoration: none;
  color:var(--main-black);
  border-radius:16px;
}

/* section = whyus section begins */
/* to style the whyus Featured */

.whyus{
  
}

/* section = whyus section begins */
/* to style the whyus Featured */

.product-show{
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  padding:30px;

}
.product-card-heading{
  width:100%;
  display:block;
  padding:0;
  text-align:left !important;
  font-weight:200;
}


.product-show .product-container {
  width:200px;
  height: 250px;
  display:inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  position:relative;
}


.product-show .product-image{
  flex-basis: 70%;
  width:100%;
  background:var(--main-grey);
  background-size:cover !important;


}

.product-show .product-details{
  flex-basis:28%;
  width:100%;
  display:flex;
  flex-direction: column;

}

.product-details .product-name a{
  text-decoration:underline;
  color:inherit;
}
.product-details .product-name{
  width:100%;
  flex-basis: 50%;
  display:flex;
  text-align:left;
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}
.product-details .product-price{
  width:100%;
  flex-basis: 50%;
  text-align:left;
  

}

.product-details .product-discount-price{
  color:var(--main-red);
  padding:0 10px 0 0;
}

.product-discount-tag{
  background: var(--main-red);
  padding:5px 7px;
  color:var(--main-white);
  position:absolute;
  top:20px;
  left:10px;
  font-size: var(--sm-font);
  border-radius: 16px;
}

/* section = footer section begins */
/* to style the footer Featured */

footer{
  width:100vw;
}

footer .subscribe-tomail{
  width:100%;
  /* height: 200px; */
  display:flex;
  flex-wrap:wrap;
  background:var(--main-black);


}


.subscribe-tomail > article{
  flex-basis:50%;
  min-width:400px;
  height:250px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.subscribe-tomail > article > h2{
  display:inline-block;
  width:100%;
  padding:0 10%;
  text-align:left;
  color:var(--main-white);
  font-weight:600;
}
.subscribe-tomail> .subscribe-form { 
  flex-basis:50%;
  min-width:400px;
  height:250px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.subscribe-tomail> .subscribe-form > form { 
  width:100%;
  display:inline-flex;
  justify-content:center;
  gap:20px;

}
.subscribe-tomail>.subscribe-form>form input{
  height:50px;
  width:260px;
  outline:none;
  border: none;
  padding:10px 22px;
  border-radius:40px;
}


.subscribe-tomail>.subscribe-form>form button {
  height:50px;
  outline:none;
  border: none;
  padding:10px 25px;
  border-radius:40px;
  background:var(--main-orange);
  
}





.main_footer{
  width: 100%;
  display:flex;
  flex-wrap:wrap;
  padding: 30px 20px;
  background:var(--main-white);

}

footer .footer_info{
  flex-basis:30%;
  height:280px;
  display:inline-flex;
  flex-direction:column;

}

footer .footer_info-name{
  width:100%;
  /* flex-basis:25%; */
  /* height: 40px; */
  text-align:left;

  
}


footer .footer_info-description{
  width:100%;
  padding:15px 0px;
  text-align:left;
  color:var(--main-black);
}
  footer .footer_info-icons{
    width:100%;
    /* flex-basis:25%; */
    /* height: 40px; */
    text-align:left;
  
    
  }

  footer nav.footer_nav{
    display:inline-flex;
    flex-basis: 70%;
    padding:0px 20px;
    flex-wrap:wrap;
    justify-content:space-evenly;

   }

  footer .footer_nav-group{
    flex-basis: 33%;
      text-align:left;
      min-width:200px;
      margin:0px 0px 10px 0px;
  }
  footer .footer_nav-group-header {
    padding:0px 0px 15px 0px;
  }

  footer .footer_nav-link_list{
    line-height: 30px;
  }

  footer .footer_nav-link_list li{
    display:block;
  }
  footer .footer_nav-link_list a{
    text-decoration:underline;
    color:var(--main-black);
    font-weight: 200;
  }

  /* to style the  ProductShow.js */

  .product_show-hero {
    /* display:flex; */
    /* flex-wrap:wrap; */
    padding:30px 0;

  }

  .product_show-hero-error_msg{
    display:grid;
    place-items:center;
    height:400px;
    font-size:var(--em-large);
    color:var(--main-grey);
  }

  .product_show-layout_cnt{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    padding:0px 40px;


  }

  .product_show-layout-header {
    width:100%;
    flex-shrink:0;
    height:40px;
    /* background:green; */
    display:flex;

  }

  .product_show-categorybox{
    flex-basis:55%;
    display:flex;
    /* justify-content:space-evenly; */
    align-items:center;
    flex-wrap:wrap;
    gap:5px;
    padding:0px 5px;
    position:relative;

  }
   .product_show-categorybox::before{
    position:absolute;
    background:var(--main-black);
    width:10px;
    height:10px;
    top:calc(50% - 10px);
    right:0;

  }

  .product_show-Categoryblock{
    /* border-right:solid 2px var(--main-grey); */
    padding:0px 6px 0px 0px;
    transform :skewX(-20deg);
    color:var(--main-grey);
  }
  .product_show-categorybox .product_show-product-name {
    color:var(--main-black);
    transform:skewX(0deg);
    border-right:none;
    position:relative;


  }
 .product_show-infoBox{
   flex-basis:45%;
   height:100%;

 }


 
 
  .product_show-layout_all_image{
    width:10%;
    height:400px;
    /* background:yellow; */
    flex-basis:15%;
    /* min-width:150px; */
    display:flex;
    flex-wrap:wrap;
    overflow-y:scroll;
    justify-content:center;
    gap:10px;
    
  }
  .product_show-layout_all_image img{
    max-width:140px;
    width:80%;
    height:100px;
    flex-grow:0;
  }
  .product_show-layout_all_image .img{
    max-width:140px;
    width:80%;
    height:100px;
    flex-grow:0;
  }
 .product_show-main-pic .image{
    width:85%;
    height:85%;
    overflow:hidden;
  }
  
  .product_show-main-pic{
    display:grid;
    position:relative;
    height:400px;
    place-items:center;
    flex-basis:35%;
    /* min-width:400px; */
    /* background:red; */
  }
  .product_show-description-cnt{
    width:70%;
    height:400px;
    /* max-width:380px; */
    flex-basis:50%;
    flex-shrink:1;
    /* display:flex; */
    flex-wrap:wrap;
    justify-content:flex-start;

  }

  .product_show-description-header{
    width:100%;
    height:20%;
    display:flex;
    position:relative;


  }
  .product_show-discount-badge{
    background:var(--main-red);
    color:var(--main-white);
    position:absolute;
    padding:3px 6px;
    border-radius:40px;
    font-size:12px;
    bottom:10px;

  }
  .product_show-discount-badge-shimmer{
    /* background:var(--main-red); */
    color:var(--main-white);
    position:absolute;
    padding:3px 6px;
    border-radius:40px;
    font-size:12px;
    bottom:10px;

  }
  .product_show-main-details{
    width:100%;
    height:35%;
    /* display:flex; */
    position:relative;
  }

  .product_show-product_details-name{
    width:100%;
    font-size:35px;
    font-weight:300;
    color:var(--main-black);
  }
  
  .product_show-product-prices{
    font-size:20px;
    width:100%;
    font-weight:300;
    display:flex;
    gap:10px;
  }

  .product_show-cut-price{
    color:var(--main-red);
    font-size:30px;
  }

  .product_show-main-price{
    color:var(--main-black);
    text-decoration:line-through;
  }

  .product_show-product_size{
    width:100%;
    
  }
  .product_show-product_size label[for='priceTag']{
    padding:0 5px;
    color:var(--main-gray);
  }
  .product_show-product_size .show-size {
    display:inline-block;
    height:40px;
    width:60px;
  }
  .product_show-order-product {
    width:100%;
    display:flex;
    gap:20px;
  }

  .product_show-order-quantity-wrapper {
    width:150px;
    height:50px;
    overflow:hidden;
    display:inline-flex;
    justify-content:space-between;
    align-items:center;
    border-radius:26px;
    border:solid 2px var(--main-grey);
    
    
    
  }
  .product_show-order-product .increase-quantity {
    height:100%;
    width:25%;
    border-radius:40px;
    text-align:center;
    /* flex-basis:25%; */
    /* background:var(--main-orange); */
    outline:none;
    border:none;
    font-size:30px;
    font-weight:bold;
    background:transparent;
    flex-grow:0;
    
  }
  .product_show-order-product input {
    height:100%;
    flex-basis:10%;
    outline:none;
    border:none;
    width:auto;
    padding:0 5px;
    display:inline-block;
    flex-grow:1;
    max-width:50%;
    text-align:center;
    font-size:30px;
    /* padding:0 20%; */
    box-sizing:border-box;
    overflow:hidden;

  }
  .product_show-order-product input::scrollbar {
    display:none;
  }
  .product_show-order-product button[type="submit"] {
    background:var(--main-orange);
    outline:none;
    border:none;
    border-radius:40px;
    padding:2px 20px;
  }